<a href="https://colab.research.google.com/github/finnproveniers/BTE320/blob/main/BTE320_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Class 2: August 21, 2024**

5/2 → 2.5,
5//2 → 2,
4/2 → 2.0,
7%3 → 1 (the remainder of the division),
2**3 → 8 (2 to the power of 3, 2^3)

In [ ]:
2 + 3

5

In [ ]:
7 - 6

1

In [ ]:
2*8

16

In [ ]:
2**4

16

In [ ]:
4 / 2

2.0

In [ ]:
5 // 2

2

In [ ]:
2%5

2

In [ ]:
y = 5

In [ ]:
y==5

True

In [ ]:
y != 5

False

In [ ]:
a = 2 > 3
b = 5 == 5

a and b

False

# **Class 3: August 26, 2024**

In [ ]:
r=5
pi=3.14

In [ ]:
Area=(r**2)*pi

In [ ]:
print(Area)

78.5

This can all now go into a singular section ^

In [ ]:
pi = 3.14
r = 5
Area = pi*(r**2)

print(Area)

78.5

We can use #'s in our code to make small comments and notes so you don't forget what you mean as seen below. You can only use it for a single line, it doesn't carry down.

In [ ]:
pi = 3.14
r = 3 # Radius of circle
h = 10 # Height of cylinder

# Calculate cylinder surfance area
Surfacearea=(2*pi*(r**2))+(2*pi*r*h)
# Display result
print(Surfacearea)

244.92000000000002

If you want multiple lines, you do this:
'''
Text 1
Text 2
Text 3
'''

In [ ]:
'''
First line
Second line
Third line
'''

In [ ]:
x = 1
y = 2
z = 3
#OR
x, y, z = 1, 2, 3

# **Class 4: August 28, 2024**

In [ ]:
print(3, 5.4, 'abc')

3 5.4 abc

In [ ]:
x = 3
y = 5.4
s = 'abc'
print(x, y, s)

3 5.4 abc

Sep='' describes the seperate between the objects in the print function. If you want a seperate, you would code Sep='  '

The end='' function shows what your print function will end in. Defaultly, it would end with just another line; also end='\n' is the regular default.

In [ ]:
pi = 3.14
r = 5
Area = pi*(r**2)

print('Area is',Area,'square feet', end='\n\n')
print('Area is %f sqaure feet' % Area)
print('Area is {} square feet'.format(Area))
print(f'Area is {Area} square feet')
print('Program ends...')

Area is 78.5 square feet

Area is 78.500000 sqaure feet
Area is 78.5 square feet
Area is 78.5 square feet
Program ends...

The % method of adding subject uses 6 decimal places unless you specify by "%.1f"

In [ ]:
print('Area is %.1f sqaure feet' % Area)

Area is 78.5 sqaure feet

Format ( ) is a method which are functions that are used only with their object types.
* " . . . ".format ( )
* You want to make sure to use these { } when you are writing the code

In [ ]:
print('Area is {} square feet'.format(Area))

Area is 78.5 square feet

F-strings are another form of writing.
* Basically the same way as .format ( ) but you put your argument directly in the brackets

In [ ]:
print(f'Area is {Area} square feet')

Area is 78.5 square feet

Dynamic inputs exist such as
* input ( ". . . ." )

In [ ]:
pi = 3.14
r = float(input('Provide a value for the radius (in ft)'))

area = pi * r ** 2
print(f'Area is {area} sq ft.')

Provide a value for the radius (in ft)5
Area is 78.5 sq ft.

# **Class 5: September 4, 2024**

In [ ]:
if condition:
  epxr1
  expr2

ELIF stands for " else if. It's just an alternative for if, or else.

In [ ]:
pi = 3.14
r = float(input('Provide a value for the radius (in ft)'))
c = float(input('Provide value for side of sq: '))
h = float(input('Provide height value:'))
shape = 'circle'

if shape == 'circle':
  area = pi * r ** 2
  print(f'Area is {area} sq ft.')
elif shape == 'sq':
  area = c**2
  print(f'Area is {area} sq ft.')
elif shape == 'triangle':
  area = 0.5 * c * h
  print(f'Area is {area} sq ft.')
elif shape == 'cylinder':
  area = 2 * pi * r * h + 2 * r ** 2
  print(f'Area is {area} sq ft.')
print('Program ends...')

Provide a value for the radius (in ft)5
Provide value for side of sq: 10
Provide height value:3
Area is 78.5 sq ft.
Program ends...

In [ ]:
grade = 90

if grade > 96:
  print('A+')
elif grade > 93:
  print('A')
elif grade > 90:
  print('A-')
elif grade > 88:
  print('B+')

B+

Float is when there are decimals. Integers is when they are just whole numbers. Boolean are either true or false.

In [ ]:
amount = float(input('Give initial amount ($):'))
n_years = int(input('Give years of investment: '))

if amount > 10000:
  return_amount = (1 + 0.035) ** n_years * amount
elif amount > 1000:
  return_amount = (1 + 0.0325) ** n_years * amount
else:
    return_amount = (1 + 0.03) ** n_years * amount

print(return_amount)

Give initial amount ($):1500
Give years of investment: 3
1651.0546171875

# **Class 6: September 9, 2024**

*   If is a conditional used when something is true
* Else is a conditional if nothing else works above, typically used at the end of code.
*   When we have a conditional, we have to have an indentation.
* If we have more than one conditional when one is true and the rest are ignored, we introduced ELIF |Else if|; this goes from top to bottom.

The three boolean operations include "and" "or" & "not."
* "and" is used when two things must be true
* "or" is used when one of the criteria must be met
* "not" is rarely used

In [ ]:
amount = float(input('Give initial amount ($):'))
n_years = int(input('Give years of investment: '))
customer_type = input('Type of customer (n->new, e->existing):')

if amount > 10000 and customer_type == 'e':
  return_amount = (1 + 0.035) ** n_years * amount
elif amount > 1000 and customer_type == 'e':
  return_amount = (1 + 0.0325) ** n_years * amount
elif amount <= 1000 and customer_type == 'e':
    return_amount = (1 + 0.03) ** n_years * amount
else:
    return_amount = (1 + 0.04) ** n_years * amount

print(return_amount)

Give initial amount ($):1500
Give years of investment: 2
Type of customer (n->new, e->existing):n
1622.4

Nested conditionals are conditionals within conditionals.

In [ ]:
amount = float(input('Give initial amount ($):'))
n_years = int(input('Give years of investment: '))
customer_type = input('Type of customer (n->new, e->existing):')

if customer_type == 'e':
  if amount > 10000:
    return_amount = (1 + 0.035) ** n_years * amount
  elif amount > 1000:
    return_amount = (1 + 0.0325) ** n_years * amount
  else:
    return_amount = (1 + 0.03) ** n_years * amount
else:
  return_amount = (1 + 0.04) ** n_years * amount
print(return_amount)

Give initial amount ($):1500
Give years of investment: 2
Type of customer (n->new, e->existing):n
1622.4

Compound expressions are easier to read like a book and we also avoid potential errors compared to nested conditions. Nested conditions require a lot of conditionals and indentations which can be easy to make a mistake of.

Rock, paper, scissors in class example:

In [ ]:
p1 = input('choose rock, paper, scissors: ')
p2 = input('choose rock, paper, scissors: ')

if p1 == p2:
  print('Draw')
elif p1 == 'rock' and p2 == 'scissors':
  print('Player 1 wins!')
elif p1 == 'scissors' and p2 == 'paper':
  print('Player 1 wins!')
elif p1 == 'paper' and p2 == 'rock':
  print('Player 1 wins!')
else:
  print('Player 2 wins!')

choose rock, paper, scissors: scissors
choose rock, paper, scissors: rock
Player 2 wins!

# **Class 7: September 11, 2024**

Calculator in class example:

In [14]:
n1 = float(input('enter number: '))
n2 = float(input('enter number: '))
symbol = input('Choose operator (+, -, *, /, **): ')

if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == '*':
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
else:
  print(n1 ** n2)

enter number: 2
enter number: 3
Choose operator (+, -, *, /, **): **
8.0