<a href="https://colab.research.google.com/github/finnproveniers/BTE320/blob/main/In_class_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **August 26, 2024: Shape Area Calculator**

In [ ]:
pi = 3.14
r = float(input('Provide a value for the radius (in ft)'))
c = float(input('Provide value for side of sq: '))
h = float(input('Provide height value:'))
shape = 'circle'

if shape == 'circle':
  area = pi * r ** 2
  print(f'Area is {area} sq ft.')
elif shape == 'sq':
  area = c**2
  print(f'Area is {area} sq ft.')
elif shape == 'triangle':
  area = 0.5 * c * h
  print(f'Area is {area} sq ft.')
elif shape == 'cylinder':
  area = 2 * pi * r * h + 2 * r ** 2
  print(f'Area is {area} sq ft.')
print('Program ends...')

Provide a value for the radius (in ft)5
Provide value for side of sq: 10
Provide height value:3
Area is 78.5 sq ft.
Program ends...

# **September 9, 2024: Rock, Paper, Scissors WITH WHILE LOOP**

In [ ]:
choice = input('Do you want to play rock, paper, scissors? (yes or no)')
while choice == 'yes':
  p1input = input('Player 1, pick either rock, paper, or scissors: ')
  p2input = input('Player 2, pick either rock, paper, or scissors: ')
  if p1input == p2input:
    print('Draw')
  elif p1input == 'rock' and p2input == 'paper':
    print('Player 2 wins')
  elif p1input == 'paper' and p2input == 'rock':
    print('Player 1 wins')
  elif p1input == 'rock' and p2input == 'scissors':
    print('Player 1 wins')
  elif p1input == 'scissors' and p2input == 'rock':
    print('Player 2 wins')
  elif p1input == 'scissors' and p2input == 'paper':
    print('Player 1 wins')
  elif p1input == 'paper' and p2input == 'scissors':
    print('Player 2 wins')
  choice = input('Do you want to play rock, paper, scissors? (yes or no)')

Do you want to play rock, paper, scissors? (yes or no)yes
Player 1, pick either rock, paper, or scissors: rock
Player 2, pick either rock, paper, or scissors: scissors
Player 1 wins
Do you want to play rock, paper, scissors? (yes or no)yes
Player 1, pick either rock, paper, or scissors: rock
Player 2, pick either rock, paper, or scissors: rock
Draw
Do you want to play rock, paper, scissors? (yes or no)no

# **September 11, 2024: Calculator**

In [ ]:
number1 = float(input('Please pick a number: '))
number2 = float(input('Please pick another number: '))
symbol = (input('Choose an operation (+, -, *, /, or **): '))

if symbol == '+':
  return_amount = (number1 + number2)
  print(return_amount)
elif symbol == '-':
  return_amount = (number1 - number2)
  print(return_amount)
elif symbol == '*':
  return_amount = (number1 * number2)
  print(return_amount)
elif symbol == '/':
  return_amount = (number1 / number2)
  print(return_amount)
else:
  return_amount = (number1 ** number2)
  print(return_amount)

Please pick a number: 2
Please pick another number: 3
Choose an operation (+, -, *, /, or **): **
8.0

# **September 18, 2024: Parking Garage & Movie Theater**:

In [ ]:
flatrate = 5
hourlyrate = 2.5

for hour in range(1, 9, 1):
  charge = flatrate + hourlyrate*hour
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour , charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
movieticket = 10

for ad in range(0, 225, 25):
  additional = 2 * round(ad**0.5, 1)
  profit = ((20 + additional) * movieticket) - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 92.0
75 99.0
100 100.0
125 99.0
150 94.0
175 89.0
200 82.0

#**September 25, 2024: Lists**

In [ ]:
L = []
value = int(input('Please provide a number: '))
while value != 0:
    L.append(value)
    value = int(input('Please provide a number: '))
L

Please provide a number: 1
Please provide a number: 5
Please provide a number: 2
Please provide a number: 7
Please provide a number: 0

[1, 5, 2, 7]

# **September 30, 2024: Months to Numbers Dictionary**

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in numbers:
  months[i] = names[i-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

# **October 24, 2024: Fee Calculation and Display Functions**

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
print(f)

Enter hours for parking: 6
20.0

In [ ]:
def calcFee(hours, decimals=2):
  fee = round(5 + hours * 2.5, decimals)
  return fee

def displayFee(fee):
  print(fee)

hours_parked = int(input('Enter hours for parking: '))
fee = calcFee(hours_parked)
displayFee(f)

Enter hours for parking: 1
12.5

# **October 28, 2024: Reverse Function (Recursion)**

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
      return s[-1] + rev(s[1:-1]) + s[0]
rev('Hello')

'olleH'

# **November 11, 2024: StudentClass**

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def describe(self):
    print(f'Name: {self.name}')
    print(f'Number: {self.number}')

In [ ]:
s1 = Student('James Bond', '007')
s2 = Student('Clark Kent', '333')

In [ ]:
s1.describe()
s2.describe()

Name: James Bond
Number: 007
Name: Clark Kent
Number: 333

# **November 13, 2024: Continuation from Student Class**

In [ ]:
class student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self,course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in the course: {course}')

  def get_courses(self):
    return self.courses

In [ ]:
s = student('Bob', '123')

In [ ]:
s.enroll('ABC123')
s.enroll('ABC456')
s.enroll('ABC789')

In [ ]:
s.get_courses()

['ABC123', 'ABC456', 'ABC789']

In [ ]:
s.enroll('ABC123')

You have already enrolled in the course: ABC123